.glow-text h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 80px;
  color: #ffeb00;
  text-align: center;
} 

.glow-text h2 {
  font-size: 60px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #ffeb00;
  text-align: center;

}

.center-text .glow-text {
    text-shadow:
    2px 2px 2px #ff9900,
    -2px 2px 2px #ff9900,
    2px -2px 2px #ff9900,
    -2px -2px 2px #ff9900;
}

.center-text {
  position: absolute;
  image-rendering: pixelated;
  top: 35%;
  left: 18%;
  z-index:  3;
}